.App {
    text-align: center;
}

html,
body {
    background-color: black;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
}
#sidebar h3 {
    text-align: center;
    text-decoration: underline;
}
.btn-group {
    display: flex;
    justify-content: center;
}
.btn {
    width: 30%;
    margin: 5px;
}

#game-container {
    position: relative;
    display: inline-block;
    height: 100%;
}

canvas {
    width: 100%;
}

.hidden {
    /* display: none !important; */
    opacity: 0;
    transition: 0.4s;
}

.show {
    opacity: 1;
    transition: 0.4s;
}

.icon-group {
    display: grid;
    height: 40%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.icon {
    height: 4.5rem;
    align-self: center;
    /* margin: 10px; */
    opacity: 1;
    /* fill: blue; */
}
.icon:hover {
    cursor: pointer;
}
select {
    font-size: xx-large !important;
    text-align: center;
}
.custom-select {
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    font-size: large;
}
.custom-select:hover {
    cursor: grab;
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
/* <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
#idArrowUp {
    transform: rotateZ(270deg);
}

#idArrowLeft {
    transform: rotateZ(180deg);
}

/* #idArrowRight{
    transform: rotateZ(270deg);
} */

#idReflectX {
    transform: rotateZ(90deg);
}

#idArrowDown {
    transform: rotateZ(90deg);
}
