.App {
    text-align: center;
}

html,
body {
    background-color: black;
    height: 100%;
    overflow: hidden;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 33%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    overflow: scroll;
}
#sidebar h3 {
    text-align: center;
    text-decoration: underline;
}
.btn-group {
    display: flex;
    justify-content: center;
}
.btn {
    width: 30%;
    margin: 5px;
}

#game-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

canvas {
    width: 100%;
}

.hidden {
    opacity: 0;
    transition: 0.25s;
}

.show {
    opacity: 1;
    transition: 0.4s;
}
.icon-group {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;
    height: 40%;
}
.icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.icon {
    height: 3.5rem;
    width: 50%;
    align-self: center;
    opacity: 1;
    margin: 10px;
}
.icon:hover {
    cursor: pointer;
}
select {
    font-size: x-large !important;
    text-align: center;
}
.custom-select {
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
    font-size: large;
}
.custom-select:hover {
    cursor: grab;
}

/* <div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
/* <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
#idArrowUp {
    transform: rotateZ(270deg);
}

#idArrowLeft {
    transform: rotateZ(180deg);
}

/* #idArrowRight{
    transform: rotateZ(270deg);
} */

#idReflectX {
    transform: rotateZ(90deg);
}

#idArrowDown {
    transform: rotateZ(90deg);
}

.audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
}
